/****************** start Color White *****************/
.navbar-nav>li>.dropdown-menu,
.navbar.navbar-inverse .navbar-nav>.active>a,
.navbar .navbar-inverse .navbar-nav>.active>a:focus,
.navbar .navbar-inverse .navbar-nav>.active>a:hover,
.dropdown-menu>li>a,
.option-box .option-color,
.table-price .price-box,
.subscribe h1,
.our-team ,
.subscribe p,
.contact-us ,
.contact-us .contact input[type="text"],
.contact-us .contact textarea.form-control,
.footer h3,
.navbar-brand  span,
.about h1 span,
.about p,
.features h1,
.features .feat span,
.table-price .price-box p,
.statistic .data .stat h1,
.statistic .data .stat p ,
.footer,
.footer h2 ,
.footer .four i,
.footer .copy-right,
.footer .copy-right span{
    color:#EFFA00;
}

.table-price .price-box p  {
    border:2px solid #EFFA00;
}



/****************** End Color White *****************/

/***************Start color red ****************/



/****************End color Red ****************/



/****************Start color Purple *************/
.navbar-nav>li>.dropdown-menu{
    border-top:3px solid #EFFA00;
}



/*************End color Purple *****************/


/***************Another color ****************/
.navbar-nav>li>.dropdown-menu{
    background-color:rgba(0,0,0,0.7);
    
    
}

.navbar.navbar-inverse .navbar-nav>.active>a,.navbar .navbar-inverse .navbar-nav>.active>a:focus,.navbar .navbar-inverse .navbar-nav>.active>a:hover {
    background-color:rgba(255,255,255,0.1);
    
    

}




.carousel-indicators .active {
    border:1px solid #EFFA00;
    background-color:#00F;
}

.option-box .option-color{
    
    border: 4px solid #EFFA00;
    
}

.option-box .option-color ul li {
    background-color:#4a00fc;
    
}

.option-box .gear-check {
    background-color:#ff0066;
    
}




.dropdown-menu .divider {
    border-top:2px solid #EFFA00;
}

.features {
    background-color:#EEE;
}




.testimonial .carousel-indicators li {
    border:2px solid #EFFA00;
}


.testimonial .carousel-indicators li.active {
    border:3px solid #EFFA00;
    
}

.table-price {
    background-color:#EEE;
    
}

.table-price .price-box {
    border:1px solid #EFFA00;
    
}

.table-price .price-box:hover p{
    border:2px solid #EFFA00;
}

.table-price .price-box p {

    
    background-color:#CCC;

    
}








.our-clients {
    background-color:#EEE;
    
}

.footer{
    background-color:#444;
    
    
    
}










.footer img {
    border:1px solid #EFFA00;


}

.footer .copy-right {
    background-color:#EFFA00;
    
    
}

 